.RoomBox-Calendar {
    .rbc-toolbar {
        display: none;
    }
}

.ReactModal__Overlay {
    background-color: #D3D4DF;
}

.ReactModal__Content {
    position: relative;
    padding: 60px 40px;

    .booking-details-name {
        color: #AFAFAF;
        margin: 30px 0;
    }

    input {
        padding: 0 0 40px;
        width: 80%;
        border: none;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 20px;
        font-size: 20px;
        color: #25265E;

        &::placeholder {
            color: #DFDFE4;
        }

        &:focus {
            outline: none;
        }
    }

    .booking-back-icon {
        height: 20px;
        cursor: pointer;
    }

    .booking-details-time {
        color: #787993;
        margin-bottom: 30px;
    }

    .booking-details-text {
        color: #787993;
    }
    
    .booking-confirm-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 15px 30px;
        border-radius: 30px;
        font-size: 14px;
        background-color: #FF376D;
        color: white;
        border: none;
        cursor: pointer;
    }
}