.App {
  text-align: center; }

.App-header {
  margin-bottom: 20px; }

.App-logo {
  height: 80px; }

.RoomBox-tab {
  display: none; }
  .RoomBox-tab + label {
    padding: 20px;
    color: #AFAFAF;
    cursor: pointer; }
  .RoomBox-tab:checked + label {
    color: #FF1654;
    position: relative; }
    .RoomBox-tab:checked + label:after {
      content: '';
      background-color: #FF1654;
      position: absolute;
      bottom: 0;
      left: 25%;
      height: 5px;
      width: 50%; }

.RoomBox-image-container {
  position: relative;
  margin-bottom: 20px; }
  .RoomBox-image-container .RoomBox-image {
    cursor: pointer;
    margin-bottom: 20px;
    max-width: 100%; }
  .RoomBox-image-container .RoomBox-image-label {
    position: absolute;
    bottom: 30px;
    right: 50px;
    color: white; }

.RoomBox-bar {
  width: 98%;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 1%; }

.slot-style {
  height: 40px;
  background-color: white;
  font-weight: 100;
  color: #555;
  font-size: 10pt; }
  .slot-style.rbc-label {
    border: none; }

.event-style {
  border-radius: 10px;
  width: 90% !important;
  background-color: #E9F9F0;
  border: solid 1px #2DC76D !important;
  color: #2DC76D;
  font-weight: 100;
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  font-size: 10pt;
  text-align: left; }
  .event-style .rbc-event-label {
    margin-bottom: 5px;
    display: block; }

.rbc-btn-group {
  display: none; }

.rbc-time-header {
  display: none; }

.event-title {
  font-size: 14px;
  margin-bottom: 5px;
  display: block; }

.event-author {
  font-size: 9pt;
  color: gray;
  margin-bottom: 10px; }

.RoomBox-Calendar .rbc-toolbar {
  display: none; }

.ReactModal__Overlay {
  background-color: #D3D4DF; }

.ReactModal__Content {
  position: relative;
  padding: 60px 40px; }
  .ReactModal__Content .booking-details-name {
    color: #AFAFAF;
    margin: 30px 0; }
  .ReactModal__Content input {
    padding: 0 0 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
    font-size: 20px;
    color: #25265E; }
    .ReactModal__Content input::placeholder {
      color: #DFDFE4; }
    .ReactModal__Content input:focus {
      outline: none; }
  .ReactModal__Content .booking-back-icon {
    height: 20px;
    cursor: pointer; }
  .ReactModal__Content .booking-details-time {
    color: #787993;
    margin-bottom: 30px; }
  .ReactModal__Content .booking-details-text {
    color: #787993; }
  .ReactModal__Content .booking-confirm-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 14px;
    background-color: #FF376D;
    color: white;
    border: none;
    cursor: pointer; }

body {
  font-family: 'Helvetica'; }
